<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pioneer_rover">
  <xacro:arg name="x_pos" default="0.0"/>
  <xacro:arg name="y_pos" default="0.0"/>
  <xacro:arg name="t_pos" default="0.0"/>
  <xacro:arg name="mesh_enabled" default="true"/>

  <link name="world"/>

  <link name="base_link"/>
  <link name="x_axis"/>
  <link name="y_axis"/>
  <link name="theta_axis"/>

  <link name="rover_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="3.978"/>
      <inertia ixx="0.021858680" ixy="0.0" ixz="0.010020353"
                iyy="0.078572349" iyz="0.0"
                izz="0.091971324"/>
    </inertial>
    <visual>
      <xacro:if value="$(arg mesh_enabled)">
        <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 1.57"/>
        <geometry>
          <mesh filename="package://rover_description/meshes/pioneer_cad_v2.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </xacro:if>
    </visual>
  </link>

  <joint name="w_to_x" type="prismatic">
    <parent link="world"/>
    <child link="x_axis"/>
    <axis xyz="1 0 0"/> 
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <limit lower="-20.0" upper="20.0" effort="0.5" velocity="0.5"/>
  </joint>

  <joint name="x_to_y" type="prismatic">
    <parent link="x_axis"/>
    <child link="y_axis"/>
    <axis xyz="0 1 0"/> 
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <limit lower="-20.0" upper="20.0" effort="0.5" velocity="0.5"/>
  </joint>

  <joint name="y_to_t" type="revolute">
    <parent link="y_axis"/>
    <child link="theta_axis"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <limit lower="-3" upper="3" effort="0.5" velocity="0.5"/>
  </joint>

  <joint name="t_to_b" type="fixed">
    <parent link="theta_axis"/>
    <child link="base_link"/>
  </joint>

  <joint name = "base_joint"  type = "fixed">
      <parent link="base_link"/>
      <child link="rover_link"/>
      <origin xyz="0.0 0.0 0.02" rpy="0 0 0" />
      <axis xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
